!!! 5
%html
  %head
    %meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
  %body
    %h1 Hi
    = @user.email
    %p Your new password is
    = @user.password
    %p To login to the site, just follow this link:
    = @url
