!!! 5
%html
  %head
    %meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
  %body
    %h1 Welcome to socioapp.com
    = @user.email
    %p You have successfully signed up to socioapp.com
    %p Your password is
    = @user.password
    %p To login to the site, just follow this link:
    = @url
    %p Thanks for joining and have a great day!
